#contact-me {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 1rem;
}

#contact-me h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #6443f5;
}

input {
    margin-bottom: 2rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    background-color: #d18ef3b2;
    color: #BC00DD;
}

textarea {
    margin-bottom: 2rem;
    border-radius: 5px;
    border: none;
    background-color: #d18ef3b2;
    color: #BC00DD;
}

#submit {
    margin: auto;
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #8900F2;
    color: white;
    cursor: pointer;
}

#submit:hover {
    background-color: #A100F2; /* Hover effect for the submit button */
}
