#projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    margin-top: 2rem;
}

#project {
    position: relative;
    width: 30%;
    height: 20%;
    text-decoration: none;
    color: #d18ef3b2;
    margin-top: 2rem;
}

#project img {
    width: 22rem;
    height: 18rem;
    border-radius: 8px;
}

#project-description {
    display: none;
    background-color: #d18ef3b2 !important;
    width: 90%;
    text-align: center;
    color: white;
}

#project i {
    display: none;
    color: #A100F2;
}

#project:hover #project-description {
    position: absolute;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 1rem;
    transform: translateY(-5rem);
    border-radius: 5px;
    background-color: rgba(242, 0, 137, 0.7); /* Darker background on hover */
}

#project:hover i {
    position: absolute;
    display: block;
    right: 0.5rem;
    top: 0.5rem;
    color: #BC00DD; /* Change icon color to match the vibrant theme */
}

#about-me {
    text-align: center;
    margin: 2rem;
    color: #6443f5; /* Heading color for the About Me section */
}
