/* Basic styling for the project container */
.project {
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 22rem;
    height: 18rem;
    border-radius: 8px;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0.5rem;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(194, 184, 241, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 8px;
}

.project:hover .project-overlay {
    opacity: 1;
}

.project-overlay i {
    font-size: 1.5rem;
    color: #BC00DD;
    margin-bottom: 0.5rem;
}

.project-description {
    color: #333;
    font-size: 0.9rem;
    width: 90%;
    text-align: center;
}

#projects {
    padding: 1rem;
}

#about-me {
    text-align: center;
    margin: 2rem;
    color: #6443f5;
}
