* {
    box-sizing: border-box;
}

body {
    background-color: #f8eef8 !important;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#outer-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    z-index: 4;
    padding: 1rem;
    padding-right: 2rem;
}

#logo {
    width: 25%;
    color: #6443f5;
}
    
#inner-nav {
    position: fixed;
    right: 30%;
    background-color: rgba(187, 133, 204, 0.342);
    width: 40%;
    backdrop-filter: blur(10px) !important;
    height: 4rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}

#theme-toggler {
    width: 35%;
    text-align: right;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #a441f5;
}

#inner-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    color: #6443f5;
}

#inner-nav ul li {
    cursor: pointer;
}

main {
    background: linear-gradient(180deg, #d18ef3b2, 
    #a159ff88,
    #6443f5bb);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 90%;
    height: 45rem;
    transform: translateY(-7rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgb(126, 72, 112);
}

#description {
    width: 50%;
}

#my-pic {
    width: 50%;
    height: 70%;
    object-fit: contain;
}

.marquee-container {
    width: 100%;
    background-color: #a159ff;
    padding: 15px 0;
    transform: translateY(-3rem);
    color: #6443f5;
}

.marquee-content {
    display: flex;
    justify-content: space-evenly;
    animation: marquee 20s linear infinite;
}

.marquee-item {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    font-size: 1.2rem;
    text-align: center;
}

.marquee-item i {
    font-size: 60px;
    color: #6443f5;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee-container:hover .marquee-content {
    animation-play-state: paused;
}
